python-dotenv
fpdf
langchain
langchain-community
sentence-transformers
pypdf
beautifulsoup4
requests
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain_postgres
langchain-pinecone
langchain-chroma
nltk
rouge


